USE [Quejas&Reclamaciones]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 6/3/2021 1:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](50) NOT NULL,
	[PRECIO_PRODUCTO] [decimal](8, 2) NOT NULL,
	[ID_ESTADO] [int] NULL,
	[ID_TIPO_PRODUCTO] [int] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID_PERSONA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PERSONA] [varchar](50) NOT NULL,
	[FECHA_NAC_PERSONA] [date] NOT NULL,
	[CEDULA_PERSONA] [char](11) NOT NULL,
	[CORREO_PERSONA] [varchar](70) NOT NULL,
	[TELEFONO_PERSONA] [char](10) NOT NULL,
	[GENERO_PERSONA] [char](1) NOT NULL,
 CONSTRAINT [PK_PERSONA_1] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENVIO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIO](
	[ID_ENVIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[FECHA_ENVIO] [date] NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_ENVIO] PRIMARY KEY CLUSTERED 
(
	[ID_ENVIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_ENVIO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_ENVIO]
AS
(
	SELECT 
		ID_ENVIO,
		FECHA_ENVIO,
		DIRECCION,
		E.ID_ESTADO,
		P.ID_PERSONA,
		P.NOMBRE_PERSONA,
		PD.NOMBRE_PRODUCTO,
		PD.PRECIO_PRODUCTO 
	FROM ENVIO E
	INNER JOIN PERSONA P ON P.ID_PERSONA=E.ID_PERSONA
	INNER JOIN PRODUCTO PD ON PD.ID_PRODUCTO=E.ID_PRODUCTO
)
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_DEPARTAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_DEPARTAMENTO] [varchar](50) NOT NULL,
	[ID_ENCARGADO] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA_DEPARTAMENTO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA_DEPARTAMENTO](
	[ID_PERSONA] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
 CONSTRAINT [PK_PERSONA_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC,
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_EMPLEADO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_EMPLEADO]
AS
(
	SELECT 
		P.ID_PERSONA,
		P.NOMBRE_PERSONA,
		P.CEDULA_PERSONA,
		P.CORREO_PERSONA,
		P.FECHA_NAC_PERSONA,
		P.GENERO_PERSONA,
		P.TELEFONO_PERSONA,
		D.ID_DEPARTAMENTO,
		D.NOMBRE_DEPARTAMENTO
	FROM PERSONA P 
	INNER JOIN PERSONA_DEPARTAMENTO PD ON PD.ID_PERSONA=P.ID_PERSONA 
	INNER JOIN DEPARTAMENTO D ON D.ID_DEPARTAMENTO=PD.ID_DEPARTAMENTO 
)
GO
/****** Object:  Table [dbo].[TIPO_QUEJA]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_QUEJA](
	[ID_TIPO_QUEJA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_QUEJA] [varchar](200) NOT NULL,
	[TITULO_QUEJA] [varchar](200) NOT NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_TIPO_QUEJA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_QUEJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUEJA]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUEJA](
	[ID_QUEJA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[FECHA_QUEJA] [datetime] NOT NULL,
	[DESCRIPCION_QUEJA] [varchar](200) NOT NULL,
	[ID_TIPO_QUEJA] [int] NOT NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_QUEJA] PRIMARY KEY CLUSTERED 
(
	[ID_QUEJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_QUEJA]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_QUEJA]
AS
(
	SELECT 
		Q.ID_QUEJA,
		Q.ID_PERSONA,
		Q.DESCRIPCION_QUEJA,
		Q.ID_DEPARTAMENTO,
		Q.FECHA_QUEJA,
		TQ.ID_TIPO_QUEJA,
		TQ.TITULO_QUEJA
	FROM QUEJA Q 
	INNER JOIN TIPO_QUEJA TQ ON TQ.ID_TIPO_QUEJA=Q.ID_TIPO_QUEJA
)
GO
/****** Object:  Table [dbo].[TIPO_RECLAMACION]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_RECLAMACION](
	[ID_TIPO_RECLAMACION] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_RECLAMACION] [varchar](200) NOT NULL,
	[TITULO_RECLAMACION] [varchar](50) NOT NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_TIPO_RECLAMACION] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_RECLAMACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECLAMACION]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECLAMACION](
	[ID_RECLAMACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[FECHA_RECLAMACION] [datetime] NOT NULL,
	[DESCRIPCION_RECLAMACION] [varchar](200) NOT NULL,
	[ID_TIPO_RECLAMACION] [int] NOT NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_RECLAMACION] PRIMARY KEY CLUSTERED 
(
	[ID_RECLAMACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_RECLAMACION]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_RECLAMACION]
AS
(
	SELECT 
		R.ID_RECLAMACION,
		R.ID_PERSONA,
		R.DESCRIPCION_RECLAMACION,
		R.ID_DEPARTAMENTO,
		R.FECHA_RECLAMACION,
		TR.ID_TIPO_RECLAMACION,
		TR.TITULO_RECLAMACION
	FROM RECLAMACION R 
	INNER JOIN TIPO_RECLAMACION TR ON TR.ID_TIPO_RECLAMACION=R.ID_TIPO_RECLAMACION
)
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[TITULO_ESTADO] [varchar](50) NOT NULL,
	[DESCRIPCION_ESTADO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPUESTA]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPUESTA](
	[ID_RESPUESTA] [int] NOT NULL,
	[ID_QUEJA] [int] NOT NULL,
	[ID_RECLAMACION] [int] NOT NULL,
	[FECHA_RESPUESTA] [datetime] NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[DESCRIPCION_RESPUESTA] [varchar](200) NOT NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_RESPUESTA] PRIMARY KEY CLUSTERED 
(
	[ID_RESPUESTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PRODUCTO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PRODUCTO](
	[ID_TIPO_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[TITULO_TIPO_PRODUCTO] [varchar](50) NOT NULL,
	[DESCRIPCION_TIPO_PRODUCTO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_USUARIO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_USUARIO](
	[ID_TIPO_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[TITULO_TIPO_USUARIO] [varchar](50) NOT NULL,
	[DESCRIPCION_TIPO_USUARIO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[NOMBRE_USUARIO] [varchar](50) NOT NULL,
	[CLAVE_USUARIO] [varchar](50) NOT NULL,
	[ID_TIPO_USUARIO] [int] NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_USUARIO_1] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([ID_ESTADO], [TITULO_ESTADO], [DESCRIPCION_ESTADO]) VALUES (1, N'PRUEBA', N'PRUEBA')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [TITULO_ESTADO], [DESCRIPCION_ESTADO]) VALUES (2, N'ACTIVO', N'EL RECURSO ESTA DISPONIBLE')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [TITULO_ESTADO], [DESCRIPCION_ESTADO]) VALUES (3, N'INACTIVO', N'EL RECURSO NO ESTA DISPONIBLE')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([ID_PERSONA], [NOMBRE_PERSONA], [FECHA_NAC_PERSONA], [CEDULA_PERSONA], [CORREO_PERSONA], [TELEFONO_PERSONA], [GENERO_PERSONA]) VALUES (5, N'pedro', CAST(N'2000-01-01' AS Date), N'12345678901', N'@lalala', N'8090987654', N'M')
INSERT [dbo].[PERSONA] ([ID_PERSONA], [NOMBRE_PERSONA], [FECHA_NAC_PERSONA], [CEDULA_PERSONA], [CORREO_PERSONA], [TELEFONO_PERSONA], [GENERO_PERSONA]) VALUES (6, N'jUANITO', CAST(N'2000-01-01' AS Date), N'12345678901', N'@lalala', N'8090987654', N'M')
INSERT [dbo].[PERSONA] ([ID_PERSONA], [NOMBRE_PERSONA], [FECHA_NAC_PERSONA], [CEDULA_PERSONA], [CORREO_PERSONA], [TELEFONO_PERSONA], [GENERO_PERSONA]) VALUES (7, N'pedro', CAST(N'2000-01-01' AS Date), N'12345678901', N'@lalala', N'8090987654', N'M')
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO_PRODUCTO], [ID_ESTADO], [ID_TIPO_PRODUCTO]) VALUES (6, N'juan', CAST(1.00 AS Decimal(8, 2)), 1, 1)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO_PRODUCTO], [ID_ESTADO], [ID_TIPO_PRODUCTO]) VALUES (8, N'PRODUCTO1', CAST(8999.99 AS Decimal(8, 2)), 1, 1)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE_PRODUCTO], [PRECIO_PRODUCTO], [ID_ESTADO], [ID_TIPO_PRODUCTO]) VALUES (9, N'PRODUCTO1', CAST(8999.99 AS Decimal(8, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_PRODUCTO] ON 

INSERT [dbo].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [TITULO_TIPO_PRODUCTO], [DESCRIPCION_TIPO_PRODUCTO]) VALUES (1, N'PRUEBA', N'PRUEBA')
SET IDENTITY_INSERT [dbo].[TIPO_PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_USUARIO] ON 

INSERT [dbo].[TIPO_USUARIO] ([ID_TIPO_USUARIO], [TITULO_TIPO_USUARIO], [DESCRIPCION_TIPO_USUARIO]) VALUES (1, N'ADM', N'ADM')
SET IDENTITY_INSERT [dbo].[TIPO_USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_PERSONA], [NOMBRE_USUARIO], [CLAVE_USUARIO], [ID_TIPO_USUARIO], [ID_ESTADO]) VALUES (5, 5, N'xd', N'1234', 1, 2)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_PERSONA], [NOMBRE_USUARIO], [CLAVE_USUARIO], [ID_TIPO_USUARIO], [ID_ESTADO]) VALUES (6, 6, N'xd', N'1234', 1, 2)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_PERSONA], [NOMBRE_USUARIO], [CLAVE_USUARIO], [ID_TIPO_USUARIO], [ID_ESTADO]) VALUES (7, 7, N'xd', N'1234', 1, 2)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAMENTO_PERSONA1] FOREIGN KEY([ID_ENCARGADO])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [FK_DEPARTAMENTO_PERSONA1]
GO
ALTER TABLE [dbo].[ENVIO]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[ENVIO]  WITH CHECK ADD  CONSTRAINT [FK_ENVIO_PERSONA1] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[ENVIO] CHECK CONSTRAINT [FK_ENVIO_PERSONA1]
GO
ALTER TABLE [dbo].[ENVIO]  WITH CHECK ADD  CONSTRAINT [FK_ENVIO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[ENVIO] CHECK CONSTRAINT [FK_ENVIO_PRODUCTO]
GO
ALTER TABLE [dbo].[PERSONA_DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_DEPARTAMENTO_DEPARTAMENTO] FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO])
GO
ALTER TABLE [dbo].[PERSONA_DEPARTAMENTO] CHECK CONSTRAINT [FK_PERSONA_DEPARTAMENTO_DEPARTAMENTO]
GO
ALTER TABLE [dbo].[PERSONA_DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_DEPARTAMENTO_PERSONA1] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[PERSONA_DEPARTAMENTO] CHECK CONSTRAINT [FK_PERSONA_DEPARTAMENTO_PERSONA1]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_PRODUCTO])
REFERENCES [dbo].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [dbo].[QUEJA]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[QUEJA]  WITH CHECK ADD  CONSTRAINT [FK_QUEJA_TIPO_QUEJA] FOREIGN KEY([ID_TIPO_QUEJA])
REFERENCES [dbo].[TIPO_QUEJA] ([ID_TIPO_QUEJA])
GO
ALTER TABLE [dbo].[QUEJA] CHECK CONSTRAINT [FK_QUEJA_TIPO_QUEJA]
GO
ALTER TABLE [dbo].[RECLAMACION]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[RECLAMACION]  WITH CHECK ADD  CONSTRAINT [FK_QUEJA_TIPO_RECLAMACION] FOREIGN KEY([ID_TIPO_RECLAMACION])
REFERENCES [dbo].[TIPO_QUEJA] ([ID_TIPO_QUEJA])
GO
ALTER TABLE [dbo].[RECLAMACION] CHECK CONSTRAINT [FK_QUEJA_TIPO_RECLAMACION]
GO
ALTER TABLE [dbo].[RESPUESTA]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[RESPUESTA]  WITH CHECK ADD  CONSTRAINT [FK_RESPUESTA_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[RESPUESTA] CHECK CONSTRAINT [FK_RESPUESTA_PERSONA]
GO
ALTER TABLE [dbo].[RESPUESTA]  WITH CHECK ADD  CONSTRAINT [FK_RESPUESTA_QUEJA] FOREIGN KEY([ID_QUEJA])
REFERENCES [dbo].[QUEJA] ([ID_QUEJA])
GO
ALTER TABLE [dbo].[RESPUESTA] CHECK CONSTRAINT [FK_RESPUESTA_QUEJA]
GO
ALTER TABLE [dbo].[RESPUESTA]  WITH CHECK ADD  CONSTRAINT [FK_RESPUESTA_RECLAMACION] FOREIGN KEY([ID_RECLAMACION])
REFERENCES [dbo].[RECLAMACION] ([ID_RECLAMACION])
GO
ALTER TABLE [dbo].[RESPUESTA] CHECK CONSTRAINT [FK_RESPUESTA_RECLAMACION]
GO
ALTER TABLE [dbo].[TIPO_QUEJA]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[TIPO_RECLAMACION]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_USUARIO])
REFERENCES [dbo].[TIPO_USUARIO] ([ID_TIPO_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PERSONA]
GO
/****** Object:  StoredProcedure [dbo].[ELIMINA_PERSONA_USUARIO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINA_PERSONA_USUARIO]
(
	@ID_PERSONA INT
)
AS
	
BEGIN
	UPDATE USUARIO SET  ID_ESTADO =3 WHERE ID_PERSONA=@ID_PERSONA
END
GO
/****** Object:  StoredProcedure [dbo].[ERROR_MESSAGES]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[ERROR_MESSAGES]
AS
BEGIN 
DECLARE @ERROR INT=@@ERROR
IF @ERROR=0
	SELECT 'Solicitud satisfactoria' AS Text
ELSE
	(SELECT sys.messages.text FROM sys.messages WHERE sys.messages.message_id= @@ERROR AND SYS.messages.language_id=3082)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_DEPARTAMENTO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_DEPARTAMENTO]
(
	@NOMBRE_DEPARTAMENTO VARCHAR(50),
	@ID_ENCARGADO INT

)
AS
BEGIN
	INSERT INTO DEPARTAMENTO VALUES 
	(
		@NOMBRE_DEPARTAMENTO,
		@ID_ENCARGADO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_EMPLEADO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_EMPLEADO]
(
	@NOMBRE VARCHAR(50),
	@FECHA_NACIMIENTO_EMPLEADO DATE,
	@CEDULA_EMPLEADO CHAR(11),
	@CORREO_EMPLEADO VARCHAR(70),
	@TELEFONO_EMPLADO CHAR(10),
	@GENERO_EMPLEADO CHAR(1),
	@ID_DEPARTAMENTO INT

)
AS
BEGIN
	BEGIN TRAN T1
	BEGIN
		INSERT INTO PERSONA VALUES 
		(
			@NOMBRE,
			@FECHA_NACIMIENTO_EMPLEADO,
			@CEDULA_EMPLEADO,
			@CORREO_EMPLEADO,
			@TELEFONO_EMPLADO,
			@GENERO_EMPLEADO
		)
	END
	IF @@ERROR!=0
		ROLLBACK TRAN T1
	ELSE
	BEGIN
		COMMIT TRAN T1
		INSERT INTO PERSONA_DEPARTAMENTO VALUES
		(
			(SELECT MAX(ID_PERSONA)FROM PERSONA),
			@ID_DEPARTAMENTO
		)
	END
	
END


GO
/****** Object:  StoredProcedure [dbo].[INSERTA_ENVIO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_ENVIO]
(
	@ID_PERSONA INT,
	@ID_PRODUCTO INT,
	@FECHA_ENVIO DATETIME,
	@DIRECCION_ENVIO VARCHAR(200),
	@ID_ESTADO INT
)
AS
BEGIN
	INSERT INTO ENVIO VALUES 
	(
		@ID_PERSONA,
		@ID_PRODUCTO,
		@FECHA_ENVIO,
		@DIRECCION_ENVIO,
		@ID_ESTADO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_ESTADO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_ESTADO]
(
	@TITULO_ESTADO VARCHAR(50),
	@DESCRIPCION_ESTADO VARCHAR(200)

)
AS
BEGIN
	INSERT INTO ESTADO VALUES 
	(
		@TITULO_ESTADO,
		@DESCRIPCION_ESTADO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_PERSONA]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_PERSONA]
(
	@NOMBRE VARCHAR(50),
	@FECHA_NACIMIENTO_PERSONA DATE,
	@CEDULA_PERSONA CHAR(11),
	@CORREO_PERSONA VARCHAR(70),
	@TELEFONO_PERSONA CHAR(10),
	@GENERO_PERSONA CHAR(1),
	@NOMBRE_USUARIO VARCHAR(50),
	@CLAVE_USUARIO VARCHAR(50),
	@TIPO_USUARIO INT


)
AS
BEGIN
	--BEGIN TRAN T1
	--BEGIN
		INSERT INTO PERSONA VALUES 
		(
			@NOMBRE,
			@FECHA_NACIMIENTO_PERSONA,
			@CEDULA_PERSONA,
			@CORREO_PERSONA,
			@TELEFONO_PERSONA,
			@GENERO_PERSONA
		)

		INSERT INTO USUARIO VALUES
		(
			(SELECT MAX(ID_PERSONA) FROM PERSONA),
			@NOMBRE_USUARIO,
			@CLAVE_USUARIO,
			@TIPO_USUARIO,
			2
		)
	--END
	--IF @@ERROR!=0
--		ROLLBACK TRAN T1
	END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_PRODUCTO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_PRODUCTO]
(
	@NOMBRE_PRODUCTO VARCHAR(50),
	@PRECIO_PRODUCTO DECIMAL(8,2),
	@ID_ESTADO INT,
	@ID_TIPO_PRODUCTO INT
)
AS
BEGIN
	INSERT INTO PRODUCTO VALUES
	(
		@NOMBRE_PRODUCTO,
		@PRECIO_PRODUCTO,
		@ID_ESTADO,
		@ID_TIPO_PRODUCTO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_QUEJA]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_QUEJA]
(
	@ID_PERSONA INT,
	@ID_DEPARTAMENTO INT,
	@FECHA_QUEJA DATETIME,
	@DESCRIPCION_QUEJA VARCHAR(50),
	@ID_TIPO_QUEJA INT,
	@ID_ESTADO INT
)
AS
BEGIN
	INSERT INTO QUEJA VALUES 
	(
		@ID_PERSONA,
		@ID_DEPARTAMENTO,
		@FECHA_QUEJA,
		@DESCRIPCION_QUEJA,
		@ID_TIPO_QUEJA,
		@ID_ESTADO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_RECLAMACION]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_RECLAMACION]
(
	@ID_PERSONA INT,
	@ID_DEPARTAMENTO INT,
	@FECHA_RECLAMACION DATETIME,
	@DESCRIPCION_RECLAMACION VARCHAR(200),
	@ID_TIPO_RECLAMACION INT,
	@ID_ESTADO_RECLAMACION INT
)
AS
BEGIN
	INSERT INTO RECLAMACION VALUES
	(
		@ID_PERSONA,
		@ID_DEPARTAMENTO,
		@FECHA_RECLAMACION,
		@DESCRIPCION_RECLAMACION,
		@ID_TIPO_RECLAMACION,
		@ID_ESTADO_RECLAMACION
	)
END

DROP TABLE RESPUESTA
DROP TABLE RECLAMACION
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_TIPO_PRODUCTO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_TIPO_PRODUCTO]
(
	@TITULO_TIPO_PRODUCTO VARCHAR(50),
	@DESCRIPCION_TIPO_PRODUCTO VARCHAR(200)
)
AS
BEGIN
	INSERT INTO TIPO_PRODUCTO VALUES
	(
		@DESCRIPCION_TIPO_PRODUCTO,
		@TITULO_TIPO_PRODUCTO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_TIPO_QUEJA]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_TIPO_QUEJA]
(
	@DESCRIPCION_TIPO_QUEJA VARCHAR(200),
	@TITULO_TIPO_QUEJA VARCHAR(50),
	@ID_ESTADO INT
)
AS
BEGIN
	INSERT INTO TIPO_QUEJA VALUES
	(
		@DESCRIPCION_TIPO_QUEJA,
		@TITULO_TIPO_QUEJA,
		@ID_ESTADO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_TIPO_RECLAMACION]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_TIPO_RECLAMACION]
(
	@DESCRIPCION_TIPO_RECLAMACION VARCHAR(200),
	@TITULO_TIPO_RECLAMACION VARCHAR(50),
	@ID_ESTADO INT
)
AS
BEGIN
	INSERT INTO TIPO_QUEJA VALUES
	(
		@DESCRIPCION_TIPO_RECLAMACION,
		@TITULO_TIPO_RECLAMACION,
		@ID_ESTADO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_TIPO_USUARIO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_TIPO_USUARIO]
(
	@TITULO_TIPO_USUARIO VARCHAR(50),
	@DESCRIPCION_TIPO_USUARIO VARCHAR(200)
)
AS
BEGIN
	INSERT INTO TIPO_USUARIO VALUES
	(
		@DESCRIPCION_TIPO_USUARIO,
		@TITULO_TIPO_USUARIO
	)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_USUARIO]    Script Date: 6/3/2021 1:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTA_USUARIO]
(
	@ID_PERSONA INT,
	@NOMBRE_USUARIO VARCHAR(50),
	@CLAVE_USUARIO VARCHAR(50),
	@TIPO_USUARIO INT
)
AS
BEGIN 
	INSERT INTO USUARIO VALUES
	(
		@ID_PERSONA,
		@NOMBRE_USUARIO,
		@CLAVE_USUARIO,
		@TIPO_USUARIO
	)
END
GO
